body, html{
    margin: 0;
    font: 16px "Lato", sans-serif;
    color: #777;
    height: 100%;

}

 /* extra small devices */
 @media (max-width: 575.98px) { 
.imagens {
       width: 100%;
       height: 400px;
    }
 }


/* small devices */
@media (min-width: 576px) and (max-width: 767.98px) { 
.imagens {
        width: 100%;
        height: 500px;
    }
 }


/* medium devices */
@media (min-width: 768px) and (max-width: 991.98px) {
.imagens {
        width: 100%;
        height: 600px;
    }
 }

/* Large nd extra large devices */
@media (min-width: 992px){
.imagens { 
        width: 100%;
        height: 1000px;
    }
 }



h1 {
    margin: 0;
    background-color:#b9d3ac;
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: white;

}

h3 {
    background-color: #7777779c;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    color: white;
    text-align: center;
}

.conteudo{
    background: white;
    text-align: justify;
    color: #777;
    padding: 50px 80px;

}

/* efeito parallax */ 
.caixa1 {
    height: 100%;
    opacity: 0.7;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;

}

.caixa1{
    background-image: url(./imgs/capa-castelo.jpg); 

}

.titulo {
    position: absolute;
    left: 0;
    top: 45%;
    width: 100%;
    text-align: center;
}

.texto{
    color: white;
    background-color: #111;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 5px;
    text-transform: uppercase;
}
